.carousel-item{
    padding: 20px 20px 30px 40px;
    margin-bottom: 100px;
    background-color: palegreen;
}
.row p{
    color: grey;
}

    

.header h6{
    color:#EFA230;
}
.card-footer{
    background-color: white;
    border: none;
    text-align: center;
}
.card-deck, .card{
    border: none;
    margin-bottom: 100px;
}
.card-body{
    text-align: center;
}

.header{
    margin-bottom: 50px;
}



.card{
    box-shadow: 10px 10px 20px grey;
    border-radius: 20px;
    border: none;
}
.nav-item:hover{
background-color:gold;
font-weight: 500;
font-size: 20px;
}
.contact{
    background-color:rgb(226, 202, 202);
   height: 300px;
   margin-bottom: 100px;
   border-radius: 10px;
}
.form-control{
    margin-bottom: 30px;
}
